
font-face { font-family: Lato; src: url('./fonts/lato/Lato-Regular.ttf'); }

#app {
  font-family: Lato, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #204893;
}

h1, h2, h3, h4, p {
  color: #204893;
}

p {
  color: #444;
}

li {
  text-align: left
}
button { margin: 2px; }

.float-right {
  width: 30px;
  position: absolute;
  right: 10px;
}

a { font-weight: bold; }

.rounded {
  border-radius: 3px;
}


.btn-info {
  color: #fff;
  background-color: #204893;
  border-color: #204893;
}

.btn-info:hover {
  color: #f4511e;
  background-color: #ffffff;
  border-color: #204893;
}

.btn-info:disabled {
  background-color: #ddd;
  border-color: #aaa;
}

.btn-info:hover:disabled {
  color: #fff;
}

.empty { background-color: #eee; border: 1px solid #aaa; }

.left { text-align: left; }

.tab-link {
  font-weight: bold;
  color: #204893;
}
.tab-link:hover {
  text-decoration: underline;
}
